/*---------main---------*/
.main{
    position: relative;
    padding-top: 80px;
    width: 100%;
    min-height: 760px;
    height: 100%;
    background: url(../img/mainbg.png) center center/ cover no-repeat #fff;
    @include xxl-or-more{
        background-size: 1750px auto;
        min-height: 860px;
        background-position: center right;
    }
    @include xl{
        min-height: 700px;
        background-position: 40% center;
    }
    @include lg{
        padding-top: 65px;
        min-height: 515px;
        background-size: auto 480px;
        background-position: 25% 200%;
    }
    @include md{
        background-position: 30% 200%;
    }
    @include sm{
        min-height: 380px;
        background-size: auto 450px;
        background-position: center -30%;
    }
    &__contents-area{
        @include sm{
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    &__ttl{
        font-size: 52px;
        line-height: 1.5;
        font-weight: 700;
        padding-top: 100px;
        margin-bottom: 50px;
        @include xl{
            font-size: 47px;
        }
        @include lg{
            padding-top: 35px;
            margin-bottom: 35px;
            width: 415px;
            font-size: 35px;
        }
        @include md{
            width: 330px;
            font-size: 27px;
        }
        @include sm{
            font-size: 25px;
            width: 260px;
        }
    }
    &__txt{
        font-size: 14px;
        margin-bottom: 50px;
        line-height: 1.7;
        @include xxl-or-more{
            font-size: 16px;
        }
        @include lg{
            width: 350px;
            margin-bottom: 35px;
            letter-spacing: 0.2rem;
        }
        @include md{
            width: 280px;
            color: #000;
        }
        @include sm{
            width: 260px;
        }
    }
    .btn__original{
        width: 180px;
        padding: 13px 0;
        margin-bottom: 70px;
        background-color: $color-main;
        color: #fff;
        font-weight: bold;
        text-align: center;
        @include sm{
            margin: 0 auto 70px;
        }
    }
}
/*---------service---------*/
.service{
    width: 100%;
    background-color: $color-main;
    padding-bottom: 300px;
    z-index: 10;
    position: relative;
    overflow-x: hidden;
    @include lg{
        padding-bottom: 130px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 50px;
        right: -150px;
        width: 740px;
        height: 635px;
        background-image: url(../img/denkyu-b.svg);
        background-position: top center;
        background-size: 100%;
        @include md{
            width: 450px;
            height: 400px;
        }
    }
    .section__ttl{
        padding-top: 80px;
        margin-bottom: 93.5px;
        @include lg{
            padding-top: 70px;
            margin-bottom: 63.5px;
        }
        .sub-ttl{
            color: #fff;
        }
        .main-ttl{
            color: #fff;
        }
    }
    .service-contents{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-bottom: 70px;
        position: relative;
        @include lg{
            margin-bottom: 0;
            justify-content: center;
            flex-wrap: wrap;
        }
        @include md{
            justify-content: space-around;
        }
        @include sm{
            flex-direction: column;
            justify-content: center;
        }
        &::before{
            content: "";
            position: absolute;
            width: 110px;
            height: 88px;
            top: -138px;
            left: 83px;
            background-image: url(../img/pencil-b.svg);
            background-size: 100%;
            background-position: top center;
            @include md{
                top: -95px;
                left: -15px;
            }
        }
        &::after{
            content: "";
            position: absolute;
            width: 190px;
            height: 157px;
            bottom: -65px;
            left: -25px;
            background-image: url(../img/denkyu-s.svg);
            background-size: 100%;
            background-position: top center;
        }
        &__box{
            display: block;
            width: 360px;
            height: auto;
            text-align: center;
            text-decoration: none;
            position: relative;
            transition: all 0.3s;
            z-index: 10;
            &__01{
                @include lg{
                    margin-right: 20px;
                }
            }
            &__02{
                margin-top: 50px;
                @include lg{
                    margin-top: 0;
                    margin-left: 20px;
                }
            }
            &__03{
                margin-top: 100px;
                @include lg{
                    margin: 0 auto;
                    margin-bottom: 60px;
                }
            }//service-contens__box__m
            @include xl{
                width: 320px;
            }
            @include lg{
                width: 340px;
                margin-bottom: 50px;
            }
            @include md{
                width: 255px;
                margin-right: 0;
                margin-left: 0;
            }
            @include sm{
                max-width: 400px;
                width: 100%;
                margin-right: auto;
                margin-left: auto;
            }
            @include xs{
                width: 250px;
            }
            &:hover{
                filter: drop-shadow(0 0 15px rgba(255, 235, 212, .3));
                .card__img{
                    transform: scale(1.1);
                }
            }//service-contens__box
            .imgbox{
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 360px;
                @include xl{
                    height: 320px;
                }
                @include lg{
                    height: 340px;
                }
                @include md{
                    height: 255px;
                }
                @include sm{
                    height: 255px;
                }
                @include xs{
                    height: 280px;
                }
                &__img-area{
                    width: 100%;
                    height: 100%;
                    .card__img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        display: block;
                        transition: 0.3s;
                        &--capsultoy{
                            object-position: 45% 50%;
                        }
                    }
                }
                &__ttl{
                    position: absolute;
                    width: 100%;
                    height: auto;
                    bottom: 0;
                    padding-top: 60px;
                    background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,0.4));
                    left: 50%;
                    transform: translateX(-50%);
                    padding-bottom: 15px;
                    font-size: 25px;
                    font-weight: bold;
                    color: #fff;
                    @include md{
                        font-size: 20px;
                    }
                    @include sm{
                        font-size: 25px;
                    }
                    @include xs{
                        font-size: 20px;
                    }
                }
            }
            .txtbox{
                width: 100%;
                height: auto;
                text-align: left;
                &__txt{
                    padding: 35px;
                    background-color: #fff;
                    line-height: 1.7;
                    @include lg{
                        min-height: 280px;
                    }
                    @include md{
                        padding: 25px;
                        font-size: 15px;
                        min-height: 0;
                    }
                    @include sm{
                        padding: 30px;
                        font-size: 15px;
                    }
                    @include xs{
                        padding: 20px;
                    }
                }
            }
            .box__link{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .btn__original{
        position: relative;
        width: 300px;
        margin: 0 auto;
        padding: 16px 0;
        height: 65px;
        background-color: #fff;
        @include xs{
            max-width: 250px;
        }
        .inner-txt{
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }
        &::before{
            position: absolute;
            content: "";
            right: 17px;
            top: 50%;
            width: 23px;
            height: 3px;
            background-color: #1a1a1a;
        }
        &::after{
            position: absolute;
            content: "";
            right: 18px;
            top: 50%;
            width: 10px;
            height: 10px;
            border-top: 3px solid #1a1a1a;
            border-right: 3px solid #1a1a1a;
            transform: rotate(45deg) translateY(-50%);
        }
    }
}
.news{
    position: relative;
    background-color: #ededed;
    z-index: 20;
    &::before{
        content: "";
        width: calc(100vw/2);
        height: 410px;
        position: absolute;
        top: -170px;
        background-color: $color-main;
        @include lg{
            display: none;
        }
    }
    .titlebox{
        display: flex;
        position: relative;
        margin-bottom: 60px;
        @include lg{
            flex-direction: column;
            margin-bottom: 0;
        }
        &__img-area{
            width: 720px;
            height: 515px;
            position: absolute;
            top: -170px;
            @include lg{
                top: 0;
                position: relative;
                width: 100%;
                height: auto;
            }
            .news__main-img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__ttl-area{
            width: 480px;
            height: 345px;
            text-align: center;
            margin-left: 720px;
            @include lg{
                margin: 0 auto;
                width: auto;
                height: auto;
            }
            h2{
                padding-top: 95px;
                @include lg{
                    padding-top: 0;
                    margin-top: -62px;
                    margin-bottom: 70px;
                }
            }
        }
    }
    .news-contents{
        display: flex;
        position: relative;
        width: 100%;
        padding-bottom: 160px;
        @include xl{
            flex-direction: column;
            padding-bottom: 130px;
            margin: 0 auto;
        }
        &::before{
            content: "";
            position: absolute;
            width: 1030px;
            height: 200px;
            background-color: #313131;
            left: 60px;
            bottom: 80px;
            z-index: -10;
            @include xl{
                width: calc(100% + 30px);
                height: 180px;
                left: -15px;
                bottom: 90px;
            }
        }
        .news-card{
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: relative;
            z-index: 20;
            .card-box{
                width: 320px;
                height: 420px;
                transition: all .3s;
                @include lg{
                    max-height: 360px;
                }
                @include sm{
                    width: 100%;
                }
                &:hover{
                    filter: drop-shadow(0 0 15px rgba(255, 235, 212, .2));
                    img{
                        transform: scale(1.1);
                    }
                }
                .card-box__img-area{
                    width: 100%;
                    height: 210px;
                    overflow: hidden;
                    @include lg{
                        max-height: 200px;
                    }
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: .3s;
                        @include lg{
                            max-height: 200px;
                        }
                    }
                }
                &__contents{
                    width: 100%;
                    height: 210px;
                    background-color: #fff;
                    padding: 30px;
                    @include lg{
                        max-height: 180px;
                        padding: 20px;
                    }
                    .info{
                        display: flex;
                        margin-bottom: 20px;
                        @include lg{
                            margin-bottom: 15px;
                        }
                        &__date{
                            display: block;
                            font-size: 14px;
                            color: #454545;
                            margin-right: 20px;
                        }
                        &__category{
                            font-size: 14px;
                            color: $color-main;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    .detail{
                        .txt{
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 1.7;
                            @include lg{
                                font-size: 16px;
                                font-weight: normal;
                            }
                            @include sm{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
        .btn-area{
            padding-top: 130px;
            position: relative;
            max-width: calc(1200px - 1030px);
            width: 100%;
            z-index: 20;
            @include xl{
                max-width: 100%;
                display: flex;
                justify-content: space-between;
                padding-top: 0;
                margin-top: 20px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 70px;
                left: 0;
                width: calc((50vw - 600px) + 170px);
                height: 430px;
                background-color: #313131;
                z-index: -10;
                @include xl{
                    display: none;
                }
            }
            .btn__original{
                margin: 0;//swiperのmargin削除
                right: 0;//swiperのposition削除
                left: 0;//swiperのposition削除
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background-color: #000;
                filter: drop-shadow(5px 5px 5px rgba( 0, 0, 0, 0.25));
                @include xl{
                    margin-bottom: 0;
                    width: 50px;
                    height: 50px;
                }
                @include sm{
                    &:hover{
                        transform: none;
                    }
                }
                &__next{
                    position: relative;
                    display: block;
                    margin: 0 auto 25px;
                    top: 0;
                    @include xl{
                        order: 3;
                        margin-right: 25px;
                        margin-bottom: 0;
                        margin-left: 0;
                    }
                    @include lg{
                        margin-right: 15px;
                    }
                    @include md{
                        margin-right: 0 ;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        right: 32px;
                        top: 50%;
                        width: 20px;
                        height: 20px;
                        border-top: 3px solid #fff;
                        border-right: 3px solid #fff;
                        transform: rotate(45deg) translateY(-50%);
                        @include xl{
                            width: 15px;
                            height: 15px;
                            right: 25px;
                        }
                    }
                }
                &__prev{
                    position: relative;
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 100px;
                    top: 0;
                    @include xl{
                        order: 1;
                        margin-right: 0;
                        margin-bottom: 0;
                        margin-left: 25px;
                    }
                    @include lg{
                        margin-left: 15px;
                    }
                    @include md{
                        margin-left: 0 ;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        left: 32px;
                        top: 50%;
                        width: 20px;
                        height: 20px;
                        border-top: 3px solid #fff;
                        border-left: 3px solid #fff;
                        transform: rotate(-45deg) translateY(-50%);
                        @include xl{
                            width: 15px;
                            height: 15px;
                            left: 25px;
                        }
                    }
                }
            }
            .more-txt__btn{
                display: block;
                width: 115px;
                padding: 9px 0;
                margin: 0 auto;
                position: relative;
                font-size: 17px;
                font-weight: bold;
                text-align: center;
                color: #fff;
                transition: .4s;
                @include xl{
                    order: 2;
                    text-align: center;
                    border: 1px solid #fff;
                    border-radius: 10px;
                    padding: 12px;
                    margin: 5px auto 0;
                    width: 150px;
                }
                @include xs{
                    width: 130px;
                }
                &::before{
                    position: absolute;
                    content: "";
                    left: 10px;
                    bottom: 0;
                    width: 115px;
                    height: 5px;
                    border-bottom: 1px solid #fff;
                    border-right: 1px solid #fff;
                    transform: skew(45deg);
                    transition: .4s;
                    transform-origin: left;
                    @include xl{
                        display: none;
                    }
                }
                &:hover{
                    text-decoration: none;
                    color: #c2c2c2;
                    @include xl{
                        background-color: #6e6e6e;
                    }
                    &::before{
                        width: 135px;
                    }
                }
            }
        }
    }
}
//swiperカスタム
.swiper-container {
    max-width: 1030px;
    margin: 0;
    position: relative;
    @include xl{
        margin: 0 auto;
        max-width: 90%;
    }
    @include lg{
        max-width: 700px;
    }
    @include md{
        max-width: 100%;
    }
}
.swiper-wrapper{
    box-sizing: border-box;
}
.swiper-slide{
    max-width: 320px;
    height: 420px;
    @include lg{
        max-width: 100%;
    }
}
/*---------company---------*/
.company{
    margin-top: 130px;
    padding-bottom: 130px;
    position: relative;
    width: 100%;
    background: url(../img/company.png) right center/ contain no-repeat #fff;
    z-index: 10;
    &::before{
        content: "";
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255 , 255, 0.3);
        z-index: -10;
        @include sm{
            display: block;
        }
    }
    @include xl{
        margin-top: 0;
        padding-top: 100px;
        padding-bottom: 100px;
        background-position: center center;
        background-size: cover;
    }
    @include md{
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 65% center;
    }
    @include sm{
        background-position: 70% center;
    }
    &__contents-area{
        @include xl{
            background: linear-gradient(to left,rgba(255,255,255,0.0),rgba(255,255,255,0.3));
        }
        @include sm{
            background-image: none;
        }
    }
    .section__ttl{
        text-align: left;
        padding-top: 30px;
        margin-bottom: 45px;
        @include xl{
            padding-top: 0;
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: -13.5px;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            left: 60px;
            bottom: -13.5px;
        }
    }
    &__sub-ttl{
        font-size: 42px;
        font-weight: 600;
        margin-bottom: 25px;
        line-height: 1.5;
        @include lg{
            font-size: 35px;
            width: 490px;
        }
        @include md{
            width: 375px;
            font-size: 25px;
        }
        @include sm{
            width: 280px;
        }
        @include xs{
            font-size: 20px;
            width: 255px;
        }
        .md__block{
            display: none;
            @include xl{
                display: block;
            }
        }
        .sm__block{
            display: none;
            @include sm{
                display: block;
            }
        }
    }
    &__txt{
        width: 415px;
        line-height: 2;
        margin-bottom: 35px;
        @include xxl-or-more{
            width: 435px;
        }
        @include xl{
            color: #000;
        }
        @include lg{
            width: 425px;
        }
        @include md{
            width: 350px;
            font-size: 15px;
        }
        @include sm{
            width: 280px;
        }
        @include xs{
            width: 250px;
        }
    }
    .btn__original{
        position: relative;
        padding: 19px 0;
        width: 250px;
        background-color: $color-main;
        @include md{
            width: 200px;
        }
        .inner-txt{
            font-size: 19px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            @include md{
                font-size: 18px;
            }
        }
        &::before{
            position: absolute;
            content: "";
            right: 22px;
            top: 50%;
            width: 18px;
            height: 3px;
            background-color: #fff;
        }
        &::after{
            position: absolute;
            content: "";
            right: 23px;
            top: 50%;
            width: 9px;
            height: 9px;
            border-top: 3px solid #fff;
            border-right: 3px solid #fff;
            transform: rotate(45deg) translateY(-50%);
        }
        .btn__inner-txt{
            display: block;
            padding-top: 10px;
        }
    }
}
/*---------contact---------*/
.contact{
    padding-top: 130px;
    padding-bottom: 85px;
    position: relative;
    width: 100%;
    @include md{
        padding-top: 100px;
    }
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 170px;
        background-color: #E5DBD7;
        bottom: 0;
    }
    &__ttl{
        font-size: 35px;
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        margin-bottom: 35px;
        @include md{
            font-size: 29px;
        }
        @include sm{
            text-align: left;
        }
    }
    &-contents{
        display: flex;
        @include md{
            flex-direction: column;
        }
        &__box{
            display: block;
            width: 600px;
            height: 170px;
            text-align: center;
            position: relative;
            transition: .3s;
            @include md{
                width: 100%;
            }
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 75px;
                height: 1px;
                background-color: #fff;
                @include lg{
                    width: 45px;
                }
            }
            &__01{
                background-color: $color-sub;
                &:hover{
                    color: #fff;
                    text-decoration: none;
                }
            }
            &__02{
                background-color: $color-main;
                &:hover{
                    text-decoration: none;
                    filter: drop-shadow(5px 5px #000);
                    transform: translate(-5px,-5px);
                }
            }
            .txt__01{
                padding: 7px 0;
                width: 250px;
                border: 1px solid #fff;
                border-radius: 20px;
                color: #fff;
                margin: 45px auto 10px;
                @include xs{
                    width: 240px;
                }
            }
            .txt__02{
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                @include lg{
                    margin-top: 15px;
                }
                .phone-icon{
                    display: block;
                    width: 20px;
                    height: 35px;
                    margin-right: 10px;
                }
                .mail-icon{
                    display: block;
                    width: 20px;
                    height: 35px;
                    margin-right: 10px;
                }
                .txt{
                    font-size: 25px;
                    font-weight: bold;
                    color: #fff;
                    @include sm{
                        font-size: 23px;
                    }
                    @include xs{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}