/*--------popup-menu---------*/
.popup__nav__btn{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2E80CB;
    border-radius: 50%;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1000;
    .icon__wave{
        width: 35px;
        height: 23px;
    }
}
/*--------micromodal---------*/
.modal__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__container{
    background-color: rgba( 3, 30, 68,0.9);
    width: 100%;
    max-height: 100vh;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}  
.modal__content {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #fff;
    .logo__area{
        .logo{
            margin: 0 auto;
        }
    }
    .modal__close {
        position: fixed;
        top: 85px;
        right: 40px;
        width: 45px;
        height: 45px;
        background-image: url(../img/close_btn-w.svg);
        background-color: transparent;
        cursor: pointer;
        transition: .3s;
        &:hover{
            opacity: 0.5;
            @include sm{
                opacity: 1;
            }
        }
    }
    .popup__nav{
        max-width: 600px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        li{
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1.5px solid #050f1b;
            box-shadow: 0 0.3px 0 rgba( 255, 255, 255, 0.3);
            &:last-child{
                border-bottom: none;
                box-shadow: none;
            }
            a{
                padding-right: 10px;
                padding-left: 10px;
                .link__ttl{
                    font-size: 20px;
                    font-weight: 600;
                    color: #fff;
                }
                .link__sub-ttl{
                    margin-top: 5px;
                    font-size: 12px;
                    font-weight: normal;
                    color: #fff;
                }
            }
        }
    }    
}
/**************************\
    Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
}
@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}
.micromodal-slide {
    display: none;
}
.micromodal-slide.is-open {
    display: block;
}
.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}
.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}
/*--------mv---------*/
.mv{
    position: relative;
    width: 100%;
    min-height: 90vh;
    background-image: url(../img/mv-bg.png);
    background-position: top center;
    background-size: cover;
    .mv__wave{
        position: absolute;
        top: 0;
        width: 100%;
        transform: rotate(180deg);

    }
    .mv__video{
        display: block;
        min-width: 100%;
        min-height: 768px;
        height: 90vh;
        object-fit: cover;
    }
    .container-fluid{
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        left: 120px;
        .mv__ttl{
            font-size: 45px;
            line-height: 1.7;
            font-weight: 700;
            color: #FFF;
        }
    }
}
/*--------messege---------*/
.message{
    padding-top: 220px;
    width: 100%;
    .message__container{
        position: relative;
        display: flex;
        justify-content: center;
        background-color: #e5f3ff;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: calc(-1*(50vw - 600px));
            ;
            width: calc(50vw - 600px);
            height: 100%;
            background-color: #e5f3ff;
        }
        .message__image-area{
            width: 400px;
            height: 500px;
            margin-top: -100px;
            margin-right: 100px;
            margin-left: auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 80% top;
            }
        }
        .message__contents{
            width: 50%;
            padding-top: 60px;
            padding-bottom: 60px;
            .txt__area{
                max-width: 500px;
                .ttl{
                    margin-top: 25px;
                    font-size: 18px;
                    font-weight: 600;
                }
                .txt{
                    margin-top: 15px;
                    .st{
                        font-weight: 500;
                        color: $color__main;
                    }
                    &--02{
                        margin-top: 27px;
                    }
                }    
            }
        }
    }
}
/*--------service---------*/
.service{
    padding-top: 120px;
    .container-fluid{
        padding: 0;
    }
    .section__ttl{
        text-align: center;
    }
    .service__container{
        margin-top: 70px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .service__contents{
            padding-right: 40px;
            padding-left: 40px;
            border-left: 1px solid #dedede;
            &:nth-child(3n){
                border-right: 1px solid #dedede;
            }
            &:nth-child(n + 4){
                margin-top: 70px;
            }
            .contents__icon{
                max-width: 125px;
                height: 85px;
                margin-right: auto;
                margin-left: auto;
                .icon__img{
                    width: 100%;
                    height: 100%;
                }
            }
            .contents__ttl{
                margin-top: 35px;
                font-size: 25px;
                font-weight: 600;
                color: #5d5d5d;
                text-align: center;
            }
            .contents__txt{
                width: calc(320px - 2px);
                //border分:2px
                min-height: 110px;
                margin-top: 15px;
                color: #5d5d5d;
            }    
        }
    }
}
/*--------works---------*/
.works{
    padding-top: 300px;
    .section__ttl{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: calc(-1*(50vw - 600px));
            transform: translateY(-50%);
            width: calc(650px + (50vw - 600px));
            height: 350px;
            background: linear-gradient(to right,#B5DBFF,#F7FBFF);
            z-index: -10;
        }
    }
    .works__wrapper{
        margin-top: 50px;
        .works__slider__btn-area{
            margin-top: 35px;
            display: flex;
            justify-content: flex-end;
            .slider__btn{
                position: relative;
                top: auto;//swiper css打消し
                right: auto;//swiper css打消し
                left: auto;//swiper css打消し
                margin-top: 0;//swiper css打消し
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $color__main;
                background-image: none;//swiper初期画像消し
                &--prev{
                    margin-right: 50px;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 18px;
                        left: 20px;
                        width: 15px;
                        height: 15px;
                        border-top: 1.5px solid #fff;
                        border-left: 1.5px solid #fff;
                        transform: rotate(-45deg);
                    }    
                }
                &--next{
                    &::before{
                        content: "";
                        position: absolute;
                        top: 18px;
                        right: 20px;
                        width: 15px;
                        height: 15px;
                        border-top: 1.5px solid #fff;
                        border-right: 1.5px solid #fff;
                        transform: rotate(45deg);
                    }    
                }
            }
        }
        .works__container{
            margin-top: 35px;
            .works__contents{
                .contents__image{
                    width: 370px;
                    height: 250px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
/*--------price---------*/
.price{
    padding-top: 120px;
    .price__detail{
        display: flex;
        justify-content: space-between;
        .section__ttl{
            margin-top: 300px;
        }
        .price__container{
            .price__image{
                width: 880px;
                height: 450px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 10% top;
                }
            }
            .price__inner{
                margin-top: 70px;
                .price__contents{
                    .contents__ttl{
                        font-size: 25px;
                        font-weight: 600;
                    }
                    .contents__list{
                        display: flex;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #dedede;
                        &:first-child{
                            margin-top: 35px;
                        }
                        .list__ttl{
                            font-weight: 600;
                        }
                    }
                }
            }  
        }
    }
}