//single
main.question{
    position: relative;
    margin-top: 80px;
    @include lg{
        margin-top: 65px;
    }
    h1{
        font-size: 45px;
        text-align: center;
        font-weight: bold;
        padding-top: 80px;
    }
    .wysiwyg-editor{
        padding: 0 15px;
        max-width: 1000px;
        margin: 80px auto 50px;
        .question__box{
            padding: 20px 0;
            border-top: 1px solid #d8d8d8;
            &:last-child{
                border-bottom: 1px solid #d8d8d8;
            }
            @include sm{
                padding: 15px 0 ;
            }
            .contents{
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 25px;
                @include md{
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 15px;
                }
                .label__mark{
                    padding-right: 35px;
                    font-size: 30px;
                    line-height: 1.5;
                    font-weight: 500;
                    @include md{
                        margin-bottom: 5px;
                    }
                    &--q{
                        color: #cc0000;
                    }
                    &--a{
                        color: #1a1a1a;
                    }
                }
                .contents__txt{
                    font-size: 16px;
                    line-height: 1.5;
                    &--q{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    //パンくず
    .breadcrumb{
        max-width: 1000px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
    }
}