$color__main: #2E80CB;
//$color__sub: #E60033;
$color__main-font: #333;

//shadow
$color-shadow01: rgba(0,0,0,0.1);
$color-shadow015: rgba(0,0,0,0.15);
$color-shadow02: rgba(0,0,0,0.2);
$color-shadow025: rgba(0,0,0,0.25);
$color-shadow03: rgba(0,0,0,0.3);
