.header{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include sm{
        padding-top: 15px;
    }
    .logo__container{
        margin-left: 30px;
        @include sm{
            margin-left: 15px;
        }
    }
    .header__contact__btn{
        display: flex;
        align-items: center;
        margin-right: 125px;
        @include sm{
            margin-right: 80px;
        }
        .icon__container{
            width: 25px;
            height: 20px;
            margin-right: 5px;
            .icon{
                width: 100%;
                height: 100%;
                transition: .3s;
            }
        }
        .contact__txt{
            font-size: 14px;
            transition: .3s;
            @include sm{
                font-size: 13px;
            }
        }
        &:hover{
            .icon{
                opacity: 0.5;
            }
            .contact__txt{
                color: #bdbdbd;
            }
        }
    }
}