//single
main.single{
    position: relative;
    margin-top: 105px;
    margin-bottom: 70px;
    @include lg{
        margin-top: 95px;
    }
    position: relative;
    margin-top: 80px;
    padding: 0 15px;
    @include lg{
        margin-top: 65px;
    }
    .ttl__container{
        padding-top: 50px;
        padding-top: unquote("clamp(30px, (0.3rem + 3vw), 50px)");
        padding-bottom: 50px;
        padding-bottom: unquote("clamp(30px, (0.3rem + 3vw), 50px)");
        margin: 0 auto;
        .detail__box{
            margin-bottom: 25px;
            margin-bottom: unquote("clamp(15px, (0.3rem + 3vw), 25px)");
            display: flex;
            .category{
                a{
                    display: block;
                    color: #fff;
                    padding: 5px 15px;
                    background-color: $color__main;
                    border-radius: 5px;
                    text-align: center;
                    &:hover{
                        text-decoration: none;
                        opacity: 0.5;
                    }
                }
            }
            .time{
                display: block;
                line-height: 1.5;
                margin-left: 20px;
                color: #909090;
            }
        }
        img{
            display: block;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
        h1{
            margin-bottom: 35px;
            margin-bottom: unquote("clamp(20px, (0.3rem + 3vw), 35px)");
            font-size: 35px;
            font-size: unquote('clamp(20px, 0.3rem + 3vw, 35px)');
            text-align: left;
            font-weight: 600;
        }
    }
}
.wysiwyg-editor{
    margin-top: 35px;
    margin-top: unquote("clamp(30px, (0.3rem + 3vw), 45px)");
    h1{
        font-size: 45px;
        font-size: unquote('clamp(28px, 0.3rem + 3vw, 45px)');
        line-height: 1.7;
        font-weight: 700;
        margin-top: 35px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
    h2{
        font-size: 35px;
        font-size: unquote('clamp(23px, 0.3rem + 3vw, 35px)');
        line-height: 1.7;
        font-weight: 600;
        margin-top: 35px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
    h3{
        font-size: 28px;
        font-size: unquote('clamp(18px, 0.3rem + 3vw, 28px)');
        line-height: 1.7;
        font-weight: 700;
        margin-top: 35px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
    h4{
        font-size: 22px;
        font-size: unquote('clamp(16px, 0.3rem + 3vw, 22px)');
        line-height: 1.7;
        font-weight: 600;
        margin-top: 35px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
    h5{
        font-size: 18px;
        font-size: unquote('clamp(16px, 0.3rem + 3vw, 18px)');
        line-height: 1.7;
        font-weight: 600;
        margin-top: 35px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
    h6{
        font-size: 16px;
        line-height: 1.7;
        font-weight: 600;
        margin-top: 35px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
    p{
        line-height: 1.7;
        margin-top: 20px;
    }
    a{
        display: block;
        padding: 10px 0;
        line-height: 1.5;
        word-wrap:break-word;
        color: #1a0dab;
    }
    .wp-block-columns{
        margin: 0;
        margin-top: 35px;
        align-items: center;
    }
    img{
        display: block;
        object-fit: cover;
    }
    figure{
        img{
            display: block;
            object-fit: contain;
        }
    }
    table{
        margin-top: 25px;
        td{
            padding: 15px 10px;
            line-height: 1.5;
        }
    }
}